<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&amp;subset=latin,latin-ext">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" charset="utf-8"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" charset="utf-8"></script>
    <title></title>
    <style media="screen">
      .navbar-brand {
        padding: 0px;
      }
      .navbar-brand>img {
        height: 100%;
        padding: 15px;
        width: auto;
      }
      /* EXAMPLE 6 - Background Logo*/
      .example6 .navbar-brand{
        background: url("{{ url_for('static', filename='icon.png') }}") center / contain no-repeat;
        width: 200px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top example6">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar6">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand text-hide" href="http://disputebills.com">Brand Text
          </a>
        </div>
        <div id="navbar6" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://0.0.0.0:5000">Home</a></li>
            <li><a href="http://0.0.0.0:5000/user.html">Add User</a></li>
            <li><a href="http://0.0.0.0:5000/remove.html">Remove User</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="http://0.0.0.0:5000/api/v1/categories">List All Categories</a></li>
                <li><a href="http://0.0.0.0:5000/addcat.html">Add a Category</a></li>
                <li><a href="http://0.0.0.0:5000/cremove.html">Remove a Category</a></li>
                <li class="divider"></li>
                <li><a href="http://0.0.0.0:5000/listact.html">List acts for a given category</a></li>
                <li><a href="http://0.0.0.0:5000/size.html">List number of acts for a given category</a></li>
                <li class="active"><a href="#">Return number of acts for a given category in a given range</a></li>
                <li class="divider"></li>
                <li><a href="http://0.0.0.0:5000/upload.html">Upload an act</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="form-group">
        <label for="usr">Category Name:</label>
        <input type="text" class="form-control" id="cat">
      </div>
      <form method="get" id="form">
        <div class="form-group">
          <label for="start">Start Range:</label>
          <input type="number" name="start" class="form-control" id="start">
        </div>
        <div class="form-group">
          <label for="end">End Range:</label>
          <input type="number" name="end" class="form-control" id="end">
        </div>
        <button type="button" class="btn btn-primary" id="sub">Submit</button>
      </form>
    </div>
  </body>
  <script type="text/javascript">
    var obj = {
      sendData: function() {
        var cat = document.getElementById("cat");
        var start = document.getElementById("start");
        var end = document.getElementById("end");
        var form = document.getElementById("form");
        form.action = "http://0.0.0.0:5000/api/v1/categories/" + cat.value + '/acts?start='+ start.value + '&end='+ end.value;
        form.submit();
      },
      addEvent: function() {
        var submit = document.getElementById("sub");
        submit.addEventListener('click', obj.sendData, false)
      }
    };
    obj.addEvent()

  </script>
</html>
