
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&amp;subset=latin,latin-ext">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" charset="utf-8"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" charset="utf-8"></script>
    <title></title>
    <style media="screen">
      .navbar-brand {
        padding: 0px;
      }
      .navbar-brand>img {
        height: 100%;
        padding: 15px;
        width: auto;
      }
      /* EXAMPLE 6 - Background Logo*/
      .example6 .navbar-brand{
        background: url("{{ url_for('static', filename='icon.png') }}") center / contain no-repeat;
        width: 200px;
      }
      body {
	background-color: #cccccc;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top example6">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar6">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand text-hide" href="http://disputebills.com">Brand Text
          </a>
        </div>
        <div id="navbar6" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="http://localhost:5000/user.html">Add User</a></li>
            <li><a href="http://localhost:5000/remove.html">Remove User</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="http://localhost:5000/api/v1/categories">List All Categories</a></li>
                <li><a href="http://localhost:5000/addcat.html">Add a Category</a></li>
                <li><a href="http://localhost:5000/cremove.html">Remove a Category</a></li>
                <li class="divider"></li>
                <li><a href="http://localhost:5000/listact.html">List acts for a given category</a></li>
                <li><a href="http://localhost:5000/size.html">List number of acts for a given category</a></li>
                <li><a href="http://localhost:5000/crange.html">Return number of acts for a given category in a given range</a></li>
                <li class="divider"></li>
                <li><a href="http://localhost:5000/upload.html">Upload an act</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% for key, value in result.items() %}
      <div class="container">
        <h1 class="bg-primary text-center mark text-uppercase" style="border-radius: 0.25em;">{{ key }}</h1>
        <div class="row">
          {% for act in value %}
            <div class="col-md-4">
              <div class="thumbnail float-left">
                <img src="{{ act['imgB64'] }}" alt="" style="width:200px; height:200px; object-fit: cover;">
                <div class="caption">
                  <p>{{ act['caption'] }}</p>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary active upvote" id="{{ act['actId'] }}" style="margin-left: 1.5em; outline: none; font-weight: bold;">UPVOTE</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" id = "b" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span style="font-weight: bold;">{{ act['upvotes'] }}</span>
                    </button>
                    <button class="btn btn-primary delete" id="a" type="button" style="margin-left: 2em; outline: none; font-weight: bold">DELETE</button>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </body>
  <script type="text/javascript">
    var obj = {
      upvote: function(e) {
        //alert("Hello");
        var actid = e.target.id;
        e.target.classList.remove('active');
        e.target.classList.add('disabled');
        //alert(actid);
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "http://" + location.hostname + ":5000/api/v1/acts/upvote", true);
        xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhttp.send(JSON.stringify([parseInt(actid)]));
        var nupv = e.target.nextSibling.nextSibling.childNodes[1];
        nupv.innerHTML = parseInt(nupv.innerHTML) + 1;
        e.target.removeEventListener('click', obj.upvote, false);
      },
      delete: function(e) {
        var delimg = e.target.parentNode.previousSibling.previousSibling.parentNode.parentNode;
        var actid = e.target.previousSibling.previousSibling.previousSibling.previousSibling.id;
        var xhttp = new XMLHttpRequest();
        xhttp.open("DELETE", "http://" + location.hostname + ":5000/api/v1/acts/" + actid, true);
        xhttp.send();
        delimg.parentNode.removeChild(delimg);
      },
      addEvent: function() {
        var upv = document.querySelectorAll('.upvote');
        for(var i=0; i<upv.length; i++) {
          upv[i].addEventListener('click', obj.upvote, false)
        }
        var del = document.querySelectorAll('.delete');
        for(var i=0; i<del.length; i++) {
          del[i].addEventListener('click', obj.delete, false)
        }
      },
      anchorTag: function() {
        anchor=document.getElementsByTagName('a');
        for(i in anchor) {
          if(anchor[i].href == undefined)
            continue;
          ref = "http://"+location.hostname+":5000"+anchor[i].href.slice(21);
          anchor[i].href = ref;
        }
      }
    }
    obj.addEvent();
    obj.anchorTag();
  </script>
</html>
